body {
  background-color: #FFFDF6;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Inter';font-size: 1vw;
}

.screen {
    border-color: black;
    border-style: solid;
    border-radius: 13px;
    width: 60vw;
    height: 68vh;
    background-color: #FFFDF6;
    position: absolute;
    top: 16vh;
    left: 20vw;
    overflow: hidden;
}

.screen-top-edge {
    background-color: #95D5B2;
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-weight: 900
}

/*CSS for Home Tab*/
.home-screen {
    width: 100%;
    height: 92%;
    position: absolute;
    bottom: 0;
    background-color: #FFFDF6;
    border-top-style: solid;
    border-top-color: black;
}

#home-content {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.intro-rectangles {
    background-color: #D8F3DC;
    width: 17vw;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-color: #123524;
    border-style: solid;
    white-space: nowrap;
    font-size: 110%;
}

.nav-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-column a:hover {
    transform: scale(1.2, 1.2)
}


/* CSS FOR PANELS*/
.close-btn {
    cursor: pointer;
    user-select: none;
    padding: 1.5%;
}

.close-btn:hover {
    background-color:#D8F3DC;
    border-radius: 1vw;
}

#experiences-content, #projects-content, #skills-content{
    padding: 5%;
}


/* CSS for about me panel*/
#about-me-panel {
    width: 50vw;
    background-color:#FFFDF6;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
    pointer-events: auto;
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

#about-me-header {
    background-color:#95D5B2;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 1.5vh;
    height: 2vh;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 0;
}

.about-me-wrapper {
    margin: 1vw;
    padding-top: 1.5vw;
}



/* CSS for experiences panel*/
#experiences-panel {
    width: 28vw;
    background-color:#FFFDF6;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
    pointer-events: auto;
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

#experiences-header {
    background-color:#95D5B2;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 2%;
    height: 8%;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 0;
}


/* CSS for projects panel*/
#projects-panel {
    width: 28vw;
    background-color:#FFFDF6;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
    pointer-events: auto;
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

#projects-header {
    background-color:#95D5B2;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 2%;
    height: 8%;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 0;
}


/* CSS for skills panel*/
#skills-panel {
    width: 28vw;
    background-color:#FFFDF6;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
    pointer-events: auto;
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

#skills-header {
    background-color:#95D5B2;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 2%;
    height: 8%;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 0;
}


/*CSS for contact panel*/
#contact-panel {
    width: 22vw;
    background-color:#FFFDF6;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: none;
    pointer-events: auto;
    z-index: 200;
    position: fixed;
    overflow: hidden;
}

#contact-header {
    background-color:#95D5B2;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding: 1.5vh;
    height: 2vh;
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: absolute;
    width: 100%;
    top: 0;
}

.contact-wrapper {
    margin: 1vw;
    padding-top: 1vw;
}

.connect-button {
    background-color:#D8F3DC;
    width: 55%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 10%;
    border-radius: 15px;
    padding: 2% 10% 2% 10%;
    box-shadow: 5px 5px lightgray;
    margin-bottom: 2.5vh;
}

.connect-button:hover {
    transform: scale(1.1, 1.1);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* CSS for bottom links*/
.row {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 30vh;
}

.row a:hover {
    transform:scale(1.2, 1.2)
}

#bottom {
    background-color: #95D5B2;
    width: 100vw;
    height: 35vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}