body {
  background-color: #FFFDF6;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Inter';font-size: 1vw;
}

.screen {
    border-color: black;
    border-style: solid;
    border-radius: 13px;
    width: 60vw;
    height: 68vh;
    background-color: #FFFDF6;
    position: absolute;
    top: 16vh;
    left: 20vw;
    overflow: hidden;
}

.screen-top-edge {
    background-color: #95D5B2;
    width: 100%;
    height: 8%;
    position: absolute;
    top: 0;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-weight: 900
}

.home-screen {
    width: 100%;
    height: 92%;
    position: absolute;
    bottom: 0;
    background-color: #FFFDF6;
    border-top-style: solid;
    border-top-color: black;
}

#home-content {
    margin-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
}

.intro-rectangles {
    background-color: #D8F3DC;
    width: 17vw;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-color: #123524;
    border-style: solid;
    white-space: nowrap;
    font-size: 110%;
}

.nav-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-column a:hover {
    transform: scale(1.2, 1.2)
}

.row {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 30vh;
}

.row a:hover {
    transform:scale(1.2, 1.2)
}

#bottom {
    background-color: #95D5B2;
    width: 100vw;
    height: 35vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}